Source: puppetlabs-build-tools
Section: admin
Priority: extra
Maintainer: Puppet Labs <info@puppetlabs.com>
Uploaders: Moses Mendoza <moses@puppetlabs.com>, Matthaus Litteken <matthaus@puppetlabs.com>
Build-Depends: debhelper (>= 7.0.0)
Standards-Version: 3.9.2
Vcs-Git: git://github.com/puppetlabs/puppetlabs-release.git
Vcs-Browser: http://github.com/puppetlabs/puppetlabs-release.git
Homepage: http://pl-build-tools.delivery.puppetlabs.lan/debian/

Package: puppetlabs-build-tools
Architecture: all
Depends: ${misc:Depends}
Description: "Package to install Puppet Labs gpg key and apt repo"

